extend layout

block content
    .container-fluid.main(style='height: 100%;')
      div(style='margin-bottom:100px')
      h2=eee
      .row
        .col-md-3.col-xs-3.col-sm-3
        .col-md-6.col-xs-6.col-sm-6
          each thing in data
           .list-group
              .list-group-item
                .row-picture
                  img.circle(src='#{thing.url}', alt='icon')
                .row-content
                  h4.list-group-item-heading #{thing.fc}
                    ul
                      li #{thing.date}
                      li Gender #{thing.gender}
                      li Number Of Works #{thing.totalWorks}
              .list-group-separator
           h4 artwork
          each thing2 in data2
           .list-group
              .list-group-item
                .row-picture
                  img.circle(src='#{thing2.thumbnailUrl}', alt='icon')
                .row-content
                  a(href='/artworks/#{thing2.id}') #{thing2.title}
    
              .list-group-separator

        .col-md-6.col-xs-6.col-sm-6