extend layout

block content
    .container-fluid.main.album(style='height: 100%;padding-top:40px')
      .row
        .col-md-3.col-xs-3.col-sm-3
        .col-md-6.col-xs-6.col-sm-6
          h3 Facts
          each thing in artists
           .list-group(style='margin-bottom:40px')
              .list-group-item
                .row-content
                    ul
                      li Year of Birth #{thing.birthYear}
                      li Gender #{thing.gender}
                      li Number Of Works #{thing.totalWorks}
                      li Born #{thing.birth.place.name}
                        
              .list-group-separator
          h3 Artworks      
          .album
            .container
              .row
                each thing2 in artworks
                  .card
                    img.img-responsive( src='#{thing2.thumbnailUrl}', alt='Card image cap')(style='min-height: 170px !important;height:170px !important;')
                    p.card-text #{thing2.creditLine}
                    a.btn.btn-primary(href='/artworks/#{thing2.id}') Learn More
          
              .list-group-separator

        .col-md-6.col-xs-6.col-sm-6
        
        
 