
extend layout

block content
    // Page Content
    .album.text-muted(style="padding-top:60px")
      .container
        .row
          each thing in data
            .card
              img.img-responsive( data-src="holder.js/100px280/?text=#{thing.fc}" src='', alt='Card image cap')
              p.card-text #{thing.fc}  was born as a #{thing.gender} unlike Bruce Jenner. #{thing.fc} has #{thing.totalWorks} peices of work.
              a.btn.btn-primary(href='/artist/#{thing.id}',style=" width: 100%;")
               | Read more
            