extend layout

block content
    .container-fluid.main.album(style='height: 100%;')
      div(style='margin-bottom:100px')
      h2=eee
      .row
        .col-md-3.col-xs-3.col-sm-3
        .col-md-6.col-xs-6.col-sm-6
          each thing in artists
           .list-group
              .list-group-item
                .row-content
                  h4.list-group-item-heading Facts
                    ul
                      li Born #{thing.birthYear}
                      li Gender #{thing.gender}
                      li Number Of Works #{thing.totalWorks}
              .list-group-separator
          .album
            .container
              .row
                each thing2 in artworks
                  .card
                    img.img-responsive( src='#{thing2.thumbnailUrl}', alt='Card image cap')(style='min-height: 170px !important;height:170px !important;')
                    p.card-text #{thing2.creditLine}
                    a.btn.btn-primary(href='/artworks/#{thing2.id}') Learn More
          
              .list-group-separator

        .col-md-6.col-xs-6.col-sm-6
        
        
 