extend layout

block content
    .container-fluid.main(style='height: 100%;')
      div(style='margin-bottom:100px')
      .row
        .col-md-4.col-xs-4.col-sm-4
        .col-md-4.col-xs-4.col-sm-4
          each thing in artwork
           .panel.panel-default
              .panel-body
                img.circle(src='#{thing.thumbnailUrl}', alt='icon')
              .panel-footer
                h4 #{thing.title}
                p #{thing.creditLine}
                br
                p Dimensions #{thing.dimensions}
                p Acquisition Year  #{thing.acquisitionYear}
            h3 Artists
            br
          each thing2 in artist
           .list-group
              .list-group-item
                .row-picture
                  img.circle(src='#{thing2.fc}', alt='icon')
                .row-content
                  h4.list-group-item-heading               
                    a(href='/artist/#{thing2.id}') #{thing2.fc}
              .list-group-separator

        .col-md-4.col-xs-4.col-sm-4
        
        