extend layout

block content
    .container-fluid.main.album(style="padding-top:60px")
      .row
        .col-md-3.col-xs-3.col-sm-3
        .col-md-6.col-xs-6.col-sm-6
          each thing in artwork
           .list-group
              .list-group-item
                .row-content
                  img.img-responsive( src="#{thing.thumbnailUrl}" )(style='width: 100%;')
                  br
                  br
                  h4.list-group-item-heading Facts
                  ul
                    li  Title: #{thing.title}
                    li #{thing.creditLine}
                    li Dimensions #{thing.dimensions}
                    li Acquisition Year  #{thing.acquisitionYear} 
              .list-group-separator
          br
          br
          br
          br
          h1 Artists      
          .album
            .container
              .row
                each thing2 in artist
                  .card
                    img.img-responsive( data-src="holder.js/100px280/?text=#{thing2.fc}", alt='Card image cap')(style='min-height: 170px !important;height:170px !important;')
                    a.btn.btn-primary(href='/artist/#{thing2.id}',style=" width: 100%;") Learn More
          
              .list-group-separator

        .col-md-6.col-xs-6.col-sm-6
        
        
 