extend layout

block content
    .container-fluid.main(style='height: 100%;')
      div(style='margin-bottom:100px')
      .row
        .col-md-3.col-xs-3.col-sm-3
        .col-md-6.col-xs-6.col-sm-6
          each thing in data
           .list-group
              .list-group-item
                .row-picture
                  img.circle(src='#{thing.thumbnailUrl}', alt='icon')
                .row-content
                  h4.list-group-item-heading #{thing.title}
                    ul
                     // li Gender #{thing.groupTitle}
              .list-group-separator
          each thing2 in data2
           .list-group
              .list-group-item
                .row-picture
                  img.circle(src='#{thing2.fc}', alt='icon')
                .row-content
                  h4.list-group-item-heading               
                    a(href='/artist/#{thing2.id}') #{thing2.fc}
                    ul
                     // li Gender #{thing.groupTitle}
              .list-group-separator

        .col-md-6.col-xs-6.col-sm-6