extend layout

block content
    .container-fluid.main(style='height: 100%;')
      
      .row(style='margin-top: 50px;')
        .col-md-4.col-sm-4
          .panel.panel-danger
            .panel-heading
              h3.panel-title Featured Artist
            .panel-body
              each thing in artists
                .list-group.nothide
                  .list-group-item
                    .row-picture
                      img.circle(src='#{thing.url}', alt='icon')
                    .row-content
                      h4.list-group-item-heading 
                        a(href='./artist/#{thing.id}') #{thing.fc}
                  .list-group-separator
                  
                  
        .col-md-4.col-sm-4
          .panel.panel-danger
            .panel-heading
              h3.panel-title Featured Artwork
            .panel-body
              each thing in artworks
                .list-group.nothide
                  .list-group-item
                    .row-picture
                      img.circle(src='#{thing.thumbnailUrl}', alt='icon')
                    .row-content
                      p
                        a(href='./artworks/#{thing.id}') #{thing.title}
                  .list-group-separator
                  
                  
                  
                  
        .col-md-4.col-sm-4
          .panel.panel-warning
            .panel-heading
              h3.panel-title About
            .panel-body
              ol
                li
                  a(href='http://teamwork.com/projects') Projects
                li
                  a(href='http://teamwork.com/chat') Chat
                li
                  a(href='http://teamwork.com/desk') Desk
                li
                  a(href='') Deveolper Docs
                li
                  a(href='') Desk Docs
